<ion-view view-title="Fashionistas">
  <ion-nav-buttons></ion-nav-buttons>
  <ion-content class="card-background-page">
    <ion-card>
      <img  ng-src="img/icon-1.png" width="370"/>
      <div class="card-subtitle"><b>comments</b></div><br>
      <div ng-repeat="comment in commentsArray">
        <p>{{comment.Comment}}</p>
      </div>

      <form name="postfield" ng-click="submitPost(postfield)">

        <label class="item item-input">
            <input type="text" placeholder="Post a comment:)" ng-model="comments.Comment">
        </label>
        <button class="button button-royal" type="submit">
                     Post
        </button>
      </form>
    </ion-card>


  </ion-content>

</ion-view>

</ion-view>