<ion-view view-title="Fashionistas">
    <ion-nav-buttons></ion-nav-buttons>
    <ion-content class="card-background-page">
        <ion-card>
            <div>
                <center>
                    
                    <ion-item ng-repeat="images in image">
                        <img ng-src="{{images.image}}" width="340" height="340" ng-click=goTopicture(images) />

                    </ion-item>
                </center>
            </div>


            <form name="imagepost" ng-click="postImage(imagepost)">
                <label class="item item-input">
       <span class="input-label">Add picture</span>
      
       <input type="text" ng-model="picture.image" placeholder="Paste image url here">
    <img src="{{picture.image}}" width="200px" >
  </label>

                <button class="button button-full button-dark" type="submit">
 Post Image to Feed
</button>
            </form>
        </ion-card>


    </ion-content>


</ion-view>
