<ion-view view-title="USERNAME">
    <ion-nav-buttons></ion-nav-buttons>
    <ion-content class="padding">
        <ion-card>

            <ion-item>
                <ion-avatar item-left>
                    <img src="http://i.imgur.com/lVOi0DJb.jpg">
                </ion-avatar>
                <h2>Jadon Parker</h2>

            </ion-item>

            <img src="http://i.imgur.com/b56D8vDb.jpg">
            <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">What do you think?</span>
    <input type="text" placeholder="Post a comment :)">
  </label>
  
 
</div>
     <button class="button button-royal">
 Post
</button>       
            
            

         
    </ion-content>
</ion-view>