<ion-view view-title="MYProfile">
    <ion-nav-buttons></ion-nav-buttons>
    <ion-content class="card-background-page">
        <ion-card>

            <div class="card-subtitle"></div>
            <div ng-repeat="post in commentsArray">
                <p> {{post.Comment}}</p>
            </div>

            <form name="postfield" ng-click="submitPost(postfield)">

                <label class="item item-input">
            <input type="text" placeholder="Post a comment:)" ng-model="comments.Comment">
        </label>

                <button class="button button-full button-dark" type="submit">
 Post
</button>

            </form>
        </ion-card>


    </ion-content>

</ion-view>
<!--<ion-item ng-repeat="pic in items | orderBy: 'name'" ng-click=goToItem(pic)>-->
<!--    <ion-item collection-repeat="name in user |orderBy:'location'" ng-click="goToItem(item)">-->
<!--    <center><img src="{{pic.pic}}" width="100px"></center>-->
<!--</ion-item>-->


<!--<ion-item ng-repeat="pic in items | orderBy: 'name'" ng-click=goToItem(pic)>-->
<!--    <center><img src="{{pic.pic}}" width="100px"></center>-->
<!--</ion-item>-->