<ion-view view-title="MYProfile">
    <ion-nav-buttons></ion-nav-buttons>
    <ion-content class="card-background-page">
        <ion-card>
            <div>
                <center> <img ng-src="{{image.image}}" width="340" height="340" /></center>
            </div>
            <div class="card-subtitle"></div>
            <div ng-repeat="post in commentsArray">
                <p> {{post.Comment}}</p>
            </div>

            <form name="postfield" ng-click="submitPost(postfield)">

                <label class="item item-input">
            <input type="text" placeholder="Post a comment:)" ng-model="comments.Comment">
        </label>

                <button class="button button-full button-dark" type="submit">
 Post
</button>

            </form>
        </ion-card>


    </ion-content>

</ion-view>
