<ion-tabs class="tabs-light tabs-icon-top">

  <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" ui-sref="tabs.home">
    <ion-nav-view name="home"></ion-nav-view>

  </ion-tab>

  <ion-tab title="Feed" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" ui-sref="tabs.feed">
    <ion-nav-view name="feed"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Profile" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref="tabs.profile">
    <ion-nav-view name="profile"></ion-nav-view>

  </ion-tab>

</ion-tabs>
