<ion-view hide-back-button="true">

        <ion-tabs class="tabs-positive tabs-icon-top">

            <ion-tab icon-="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="tabs.home">
                <ion-nav-view name="home"></ion-nav-view>
            </ion-tab>

            <ion-tab icon-on="ion-ios-search" icon-off="ion-ios-search-outline" ui-sref="tabs.feed">
                <ion-nav-view name="feed"></ion-nav-view>
            </ion-tab>

            </ion-tab>
            <ion-tab icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref="tabs.profile">
                <ion-nav-view name="profile"></ion-nav-view>

            </ion-tab>

        </ion-tabs>




      
</ion-view>
