<ion-view view-title="MYTops" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear icon ion-arrow-left-c" ng-click="goBack()">
      </button>
    </ion-nav-buttons>
    <ion-content class="padding">

        <div ng-controller="topsCtrl">
            <button class="button button-full button-outline button-dark" ng-click="takePicture()">
  Add a Top
</button




        </div>
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search mytops">
  </label>
            <button class="button button-clear">
    Cancel
  </button>
        </div>


    </ion-content>


</ion-view>
